/*faqs-search
----------------------------*/
.faqs-search {
	display: inline-block;
	width: 100%;
	padding: 0;
	margin: 0;
}

.faqs-search fieldset {
	position: relative;
	width: 96%;
	margin: 0 0 30px;
}

.faqs-search fieldset input {
	float: left;
	font-size: 18px;
	color: #53565a;
	border: none;
	outline: none;
	background: #e5e6e6;
	padding: 20px 50px 20px 45px;
	width: 100%;
	margin: 0;
}

.faqs-search fieldset:after {
	content: "";
	position: absolute;
	right: 15px;
	top: 18px;
	width: 21px;
	height: 24px;
	background: url("../img/search-red.png") no-repeat 0 0;
}

.faqs-search fieldset:before {
	content: "";
	position: absolute;
	left: 20px;
	top: 20px;
	width: 2px;
	height: 20px;
	background: #53565a;
}

.faqs-search fieldset input::-webkit-input-placeholder {
	color: #53565a;
}

.faqs-searchy fieldset input:-moz-placeholder {
	color: #53565a;
}

.faqs-search fieldset input::-moz-placeholder {
	color: #53565a;
}

.faqs-search fieldset input:-ms-input-placeholder {
	color: #53565a;
}

.faqs-search fieldset input[type="button"] {
	background: transparent;
	position: absolute;
	right: 0;
	top: 0;
	width: 46px;
	padding: 0;
	margin: 0;
	height: 100%;
	z-index: 1;
}

.faqs-search .question-search {
	display: inline-block;
	height: 308px;
	overflow: auto;
	padding: 0;
	margin: 0 0 30px;
}

.faqs-search .question-search ul {
	width: 96%;
}

.faqs-search .question-search li {
	display: inline-block;
	width: 100%;
	color: #000;
	padding: 0;
	margin: 0 0 20px;
}

.faqs-search .question-search h4 {
	position: relative;
	width: 100%;
	display: inline-block;
	font: bold 16px 'RTA';
	padding: 0 25px 0 0;
	margin: 0 0 10px;
	cursor: pointer;
}

.faqs-search .question-search div {
	font: normal 14px 'RTA';
}

.faqs-search h4:before, .faqs-search h4:after {
	content: "";
	position: absolute;
	transition: transform 0.25s ease-out;
	background-color: #53565a;
}

.faqs-search h4:before {
	top: 3px;
	right: 5px;
	width: 3px;
	height: 13px;
	margin-left: -2px;
}

.faqs-search h4:after {
	top: 10px;
	right: 0;
	width: 13px;
	height: 3px;
	margin-top: -2px;
}

.faqs-search h4.ui-state-active:before {
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	background: #ee0000;
}

.faqs-search h4.ui-state-active:after {
	background: #ee0000;
}

.faqs-search h4.ui-state-active {
	color: #ee0000;
}

.faqs-search h4.ui-state-active:before {
	
}

.faqs-search .btn-custom {
	margin: 0;
}

.faqs-search .search-message {
	display: none;
	width: 96%;
	font: bold 24px 'RTA';
	color: #ee0000;
	padding: 0;
	margin: 0 0 20px;
}

.question-search fieldset input::-webkit-input-placeholder {
	color: #ffffff;
}

.question-search fieldset input:-moz-placeholder {
	color: #ffffff;
}

.question-search fieldset input::-moz-placeholder {
	color: #ffffff;
}

.question-search fieldset input:-ms-input-placeholder {
	color: #ffffff;
}

.pop-ques {
	float: left;
	width: 100%;
	margin: 10px 0 15px 0;
}

.pop-ques span {
	float: left;
	color: #53565a;
	font-size: 30px;
}

.pop-ques-wrap {
	float: left;
	width: 100%;
	overflow: scroll;
	height: 150px;
	overflow-x: hidden;
}

.pop-ques-wrap ul {
	float: left;
}

.pop-ques-wrap ul li {
	float: left;
	padding: 15px 0 0 0;
	color: #333;
}

.pop-ques-wrap::-webkit-scrollbar {
	width: 0.25em;
}

.pop-ques-wrap::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.pop-ques-wrap::-webkit-scrollbar-thumb {
	background-color: #abacad;
	outline: 0px solid #e92434;
}
.overlay-questions {
	width: 525px;
	margin: 0 auto;
	background: #ffffff;
	padding: 40px 30px;
	position: fixed;
	bottom: 0;
	right: 13% ! important;
	left: auto ! important;
	z-index: 1000;
	display: none;
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 90;
    width: 100%;
    height: 100%;
    display: none;
}
.footer-sticky .container {
    width: 100%;
    padding: 0 !important;
}
@media screen and (max-width: 1024px) {
	.faqs-search {
		width: 96%;
	}
 	.overlay-questions {        
        right: 13%;
    }
}

@media screen and (max-width: 767px) {
	.faqs-search fieldset {
		width: 96%;
	}
	
	.faqs-search fieldset input {
		font-size: 14px;
	}
	
	.overlay-request h3, .overlay-questions h3 {
        font-size: 36px;
    }

    .overlay-questions {
        width: 100%;
        padding: 6%;
        bottom: 45px;
        left: 0;
    }

    .overlay-request {
        width: 100%;
        padding: 6%;
        bottom: 45px;
        left: 0;
    }

    .overlay-questions .btn2 a {
        font-size: 14px;
        padding: 10px;
    }

    .overlay-questions .btn2 {
        margin: 10px 0 0;
    }

    .overlay-questions {
        position: absolute;
		right: 0% ! important;
    }

	.overlay-questions .start-typing textarea {
        width: 228px;
    }

    .overlay-questions .chat-start li h2, .overlay-questions .chat-start li p {
        font-size: 16px;
    }

    .overlay-happy {
        width: 90%;
    }
    
    .overlay-questions .status .email-n-print {
        position: static;
        margin-bottom: 3px;
        display: inline-block;
    }			
}

@media screen and (max-width: 640px) {
	
	.overlay-questions {
		width: 100%! important;
		bottom: 40px! important;
		right: 0px! important;
		left: auto! important;
		position: fixed;
	}	
}

.overlay-questions:target, .overlay-questions:target+.mask {
	display: block;
	opacity: 1;
}

/* HotFix */

.btn-custom:hover, .btn-custom:focus {
	color: #fff;
	background-color: #171c8f;
}

.btn-custom {
	color: #ffffff;
	background: #e60202;
	font-weight: bold;
	font-size: 18px;
	padding: 8px 10px 5px;
	-webkit-transition: background 0.45s;
	-moz-transition: background 0.45s;
	-o-transition: background 0.45s;
	transition: background 0.45s;
	display: inline-block;
	margin-bottom: 20px;
}

.question-search {
	float: left;
	width: 100%;
}

.footer-sticky .container{
	width: 100%;
}