@charset "UTF-8";
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.announcement__title, .hwidget__text, ul.services-tabs > li > a, .services__item p, .twitter-feed [data-scribe="element:name"] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hsocial {
  background: #edeeef;
  padding: 3rem;
}
@media (max-width: 991.98px) {
  .hsocial {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 992px) {
  .hsocial-tabs {
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .hsocial-tabs {
    overflow: auto;
  }
}
.hsocial-tabs .icon {
  fill: #6c757d;
}
@media (min-width: 992px) {
  .hsocial-tabs .icon {
    margin-right: 1rem;
    display: inline-block;
  }
}
@media (max-width: 991.98px) {
  .hsocial-tabs .icon {
    margin-bottom: 0.5rem;
  }
}
.hsocial-tabs li a {
  color: #343a40;
  max-width: 22.5rem;
  transition: 350ms ease-in-out;
}
@media (max-width: 991.98px) {
  .hsocial-tabs li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-width: 14rem;
    font-size: 1.6rem;
  }
}
.hsocial-tabs li:not(.active):hover a {
  background: #ced4da;
}
.hsocial-tabs li.active .icon {
  fill: #171c8f;
}
.hsocial .tab-content {
  background: transparent;
}

.twitter-feed {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 991.98px) {
  .twitter-feed {
    margin-right: -1.5rem;
  }
}
.twitter-feed ul li {
  position: relative;
  background: #fff;
  padding: 1.5rem;
}
.twitter-feed .media,
.twitter-feed .interact,
.twitter-feed [data-scribe="element:screen_name"],
.twitter-feed [data-scribe="element:verified_badge"] {
  display: none;
}
.twitter-feed .user img {
  border-radius: 100%;
  width: 4.8rem;
}
.twitter-feed [data-scribe="component:author"] {
  display: inline-block;
  margin-left: 1.5rem;
}
.twitter-feed [data-scribe="element:name"] {
  font-size: 1.2857142857em;
  font-weight: 700;
  color: #222;
}
.twitter-feed .tweet {
  font-size: 1.1428571429em;
  margin-top: 2rem;
  line-height: 1.6;
}
.twitter-feed .tweet a {
  color: #171c8f;
}
.twitter-feed .tweet a:hover {
  color: #ee0000;
}
.twitter-feed .timePosted {
  position: absolute;
  font-size: 1em;
  color: #222;
  right: 1.5rem;
  top: 2.7rem;
}
@media (max-width: 575.98px) {
  .twitter-feed .timePosted {
    max-width: 11rem;
    font-size: 0.9285714286em;
    text-align: right;
  }
}
.twitter-feed .timePosted a {
  color: inherit;
}
.twitter-feed .timePosted a:hover {
  color: #ee0000;
}

@media (max-width: 991.98px) {
  .no-bg-md-down {
    background: transparent !important;
  }
}

.error-msg {
  color: #ee0000;
  font-size: 0.8571428571em;
}

.services-block {
  background: #edeeef;
  padding: 4rem 3rem;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 991.98px) {
  .services-block {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
@media (min-width: 992px) {
  .services__item {
    line-height: 1.5;
  }
}
.services__item p {
  font-weight: 700;
  position: relative;
}
@media (max-width: 991.98px) {
  .services__item p {
    font-size: 1.2857142857em;
    line-height: 1.4;
  }
}
@media (min-width: 992px) {
  .services__item p {
    font-size: 1.4285714286em;
    line-height: 1.5;
  }
}

.press-release {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 991.98px) {
  .press-release {
    margin-right: -1.5rem;
  }
}
.press-release .swiper-slide {
  position: relative;
  background: #fff;
  padding: 1.5rem;
}
.press-release__thumb {
  float: right;
  margin-left: 1.5rem;
  max-width: 25rem;
}
.press-release__content {
  overflow: hidden;
}
.press-release__title {
  color: inherit;
}
.press-release__date {
  /*changed to fix contrase error*//*color: #888888;*/
  color: #504e4e;
}
.press-release a {
  color: #222;
}
.press-release a:hover {
  color: #171c8f;
}

.newsletter {
  background: #171c8f;
  color: #fff;
  padding: 3rem 1.5rem;
}
@media (max-width: 991.98px) {
  .newsletter {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}
@media (min-width: 992px) {
  .newsletter {
    padding: 3rem;
  }
}
.newsletter h2, .newsletter .n__h2 {
  color: inherit;
}
@media (max-width: 991.98px) {
  .newsletter h2, .newsletter .n__h2 {
    font-size: 1.4285714286em;
    margin-bottom: 0;
    line-height: 1.3;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.newsletter__close {
  background: transparent;
  -webkit-appearance: none;
  padding: 0;
  border: 0 none;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  transition: 350ms ease-in-out;
  opacity: 0;
}
.newsletter__close .icon {
  fill: #fff;
}
@media (max-width: 991.98px) {
  .newsletter__collapse {
    overflow: hidden;
    max-height: 0;
    transition: 350ms ease-in-out;
  }
}
@media (min-width: 992px) {
  .newsletter__collapse {
    max-height: none !important;
  }
}
@media (max-width: 991.98px) {
  .newsletter .notify-label {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
  }
}
.newsletter__toggle {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  left: 1.5rem;
  bottom: 3rem;
  overflow: hidden;
  display: none;
  opacity: 0;
}
@media (max-width: 991.98px) {
  .newsletter__toggle {
    display: inline-block;
  }
}
@media (max-width: 991.98px) {
  .newsletter .btn-secondary, .newsletter .newsletter__toggle {
    padding: 1rem 1.8rem 0.8rem;
    font-size: 1.1428571429em;
    width: 45%;
  }
}
.newsletter .custom-radio {
  margin: 0 1.5rem;
}
@media (max-width: 991.98px) {
  .newsletter .custom-radio {
    margin-left: 0;
  }
}
.newsletter.is-open .newsletter__close {
  opacity: 1;
}
.newsletter.is-open .newsletter__toggle {
  display: none;
}
.newsletter.is-open .btn-secondary, .newsletter.is-open .newsletter__toggle {
  width: 100%;
}

ul.services-tabs {
  border-bottom: none;
}
@media (min-width: 992px) {
  ul.services-tabs {
    float: left;
    width: 34rem;
    margin-top: 2rem;
  }
}
@media (max-width: 991.98px) {
  ul.services-tabs {
    background: transparent;
  }
}
@media (min-width: 992px) {
  ul.services-tabs > li {
    width: 100%;
  }
}
ul.services-tabs > li > a {
  transition: 350ms ease-in-out;
  font-weight: 700;
}
@media (min-width: 992px) {
  ul.services-tabs > li > a {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    max-width: none;
    color: #222;
    display: block;
    text-align: left;
    position: relative;
  }
  ul.services-tabs > li > a:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-left-color: #171c8f;
    border-width: 40px;
    margin-top: -40px;
    opacity: 0;
    transition: 350ms ease-in-out;
  }
}
@media (min-width: 992px) {
  ul.services-tabs > li > a .ico {
    margin-right: 1.5rem;
    display: inline-block;
    vertical-align: -6px;
  }
}
ul.services-tabs > li > a .ico svg.icon {
  transition: 350ms ease-in-out;
  fill: #222;
  margin: 0;
  display: block;
}
@media (max-width: 991.98px) {
  ul.services-tabs > li > a .ico svg.icon {
    fill: #fff;
  }
}
ul.services-tabs > li:hover > a {
  color: #fff;
}
ul.services-tabs > li:hover > a svg.icon {
  fill: #fff;
}
ul.services-tabs > li.blue a:after {
  border-left-color: #171c8f;
}
ul.services-tabs > li.blue:hover > a {
  background-color: #5a60e5;
}
ul.services-tabs > li.skyblue a:after {
  border-left-color: #025ee1;
}
ul.services-tabs > li.skyblue:hover > a {
  background-color: #7eb3fe;
}
ul.services-tabs > li.purple a:after {
  border-left-color: #8031c8;
}
ul.services-tabs > li.purple:hover > a {
  background-color: #cba8ea;
}
ul.services-tabs > li.active, ul.services-tabs > li.active:hover, ul.services-tabs > li.active:active, ul.services-tabs > li.active:focus {
  background: transparent;
}
ul.services-tabs > li.active a,
ul.services-tabs > li.active a:hover,
ul.services-tabs > li.active a:focus, ul.services-tabs > li.active:hover a,
ul.services-tabs > li.active:hover a:hover,
ul.services-tabs > li.active:hover a:focus, ul.services-tabs > li.active:active a,
ul.services-tabs > li.active:active a:hover,
ul.services-tabs > li.active:active a:focus, ul.services-tabs > li.active:focus a,
ul.services-tabs > li.active:focus a:hover,
ul.services-tabs > li.active:focus a:focus {
  color: #fff;
  font-weight: 700;
}
ul.services-tabs > li.active a:after,
ul.services-tabs > li.active a:hover:after,
ul.services-tabs > li.active a:focus:after, ul.services-tabs > li.active:hover a:after,
ul.services-tabs > li.active:hover a:hover:after,
ul.services-tabs > li.active:hover a:focus:after, ul.services-tabs > li.active:active a:after,
ul.services-tabs > li.active:active a:hover:after,
ul.services-tabs > li.active:active a:focus:after, ul.services-tabs > li.active:focus a:after,
ul.services-tabs > li.active:focus a:hover:after,
ul.services-tabs > li.active:focus a:focus:after {
  opacity: 1;
}
ul.services-tabs > li.active a svg.icon,
ul.services-tabs > li.active a:hover svg.icon,
ul.services-tabs > li.active a:focus svg.icon, ul.services-tabs > li.active:hover a svg.icon,
ul.services-tabs > li.active:hover a:hover svg.icon,
ul.services-tabs > li.active:hover a:focus svg.icon, ul.services-tabs > li.active:active a svg.icon,
ul.services-tabs > li.active:active a:hover svg.icon,
ul.services-tabs > li.active:active a:focus svg.icon, ul.services-tabs > li.active:focus a svg.icon,
ul.services-tabs > li.active:focus a:hover svg.icon,
ul.services-tabs > li.active:focus a:focus svg.icon {
  fill: #fff;
}
ul.services-tabs > li.active.blue a, ul.services-tabs > li.active:hover.blue a, ul.services-tabs > li.active:active.blue a, ul.services-tabs > li.active:focus.blue a {
  background: #171c8f;
}
@media (max-width: 991.98px) {
  ul.services-tabs > li.active.blue a, ul.services-tabs > li.active:hover.blue a, ul.services-tabs > li.active:active.blue a, ul.services-tabs > li.active:focus.blue a {
    background: #fff;
    color: #171c8f;
  }
  ul.services-tabs > li.active.blue a svg.icon, ul.services-tabs > li.active:hover.blue a svg.icon, ul.services-tabs > li.active:active.blue a svg.icon, ul.services-tabs > li.active:focus.blue a svg.icon {
    fill: #171c8f;
  }
}
ul.services-tabs > li.active.skyblue a, ul.services-tabs > li.active:hover.skyblue a, ul.services-tabs > li.active:active.skyblue a, ul.services-tabs > li.active:focus.skyblue a {
  background: #025ee1;
}
@media (max-width: 991.98px) {
  ul.services-tabs > li.active.skyblue a, ul.services-tabs > li.active:hover.skyblue a, ul.services-tabs > li.active:active.skyblue a, ul.services-tabs > li.active:focus.skyblue a {
    background: #fff;
    color: #025ee1;
  }
  ul.services-tabs > li.active.skyblue a svg.icon, ul.services-tabs > li.active:hover.skyblue a svg.icon, ul.services-tabs > li.active:active.skyblue a svg.icon, ul.services-tabs > li.active:focus.skyblue a svg.icon {
    fill: #025ee1;
  }
}
ul.services-tabs > li.active.purple a, ul.services-tabs > li.active:hover.purple a, ul.services-tabs > li.active:active.purple a, ul.services-tabs > li.active:focus.purple a {
  background: #8031c8;
}
@media (max-width: 991.98px) {
  ul.services-tabs > li.active.purple a, ul.services-tabs > li.active:hover.purple a, ul.services-tabs > li.active:active.purple a, ul.services-tabs > li.active:focus.purple a {
    background: #fff;
    color: #8031c8;
  }
  ul.services-tabs > li.active.purple a svg.icon, ul.services-tabs > li.active:hover.purple a svg.icon, ul.services-tabs > li.active:active.purple a svg.icon, ul.services-tabs > li.active:focus.purple a svg.icon {
    fill: #8031c8;
  }
}

@media (min-width: 992px) {
  .services-tab-content {
    border: solid 1px #a2a2a2;
    padding: 3rem 5rem;
    overflow: hidden;
  }
}

.lead-banner {
  position: relative;
}
@media (min-width: 992px) {
  .lead-banner {
    width: 52%;
    float: left;
  }
}
.lead-banner-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.lead-banner__content {
  padding-top: 4.5rem;
}
.lead-banner__content h2,
.lead-banner__content .n__h2 {
  color: #171c8f;
  font-size: 2.1428571429em;
}
.lead-banner__content h2 a,
.lead-banner__content .n__h2 a {
  color: inherit;
  transition: 350ms ease-in-out;
}
.lead-banner__content h2 a:hover,
.lead-banner__content .n__h2 a:hover {
  color: #ee0000;
}
.lead-banner__controls {
  font-size: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 4.4rem;
  z-index: 3;
}
.lead-banner__controls .button-prev,
.lead-banner__controls .button-next {
  width: 4.4rem;
  height: 4.4rem;
  position: relative;
  background: #fff;
  display: inline-block;
  cursor: pointer;
  transition: 350ms ease-in-out;
  background-color: #fff;
}
.lead-banner__controls .button-prev:hover,
.lead-banner__controls .button-next:hover {
  background-color: #edeeef;
}
.lead-banner__controls .button-prev .icon,
.lead-banner__controls .button-next .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.lead-banner__controls .button-prev.swiper-button-disabled,
.lead-banner__controls .button-next.swiper-button-disabled {
  cursor: default;
}
.lead-banner__controls .button-prev.swiper-button-disabled:hover,
.lead-banner__controls .button-next.swiper-button-disabled:hover {
  background-color: #fff;
}
.lead-banner__controls .button-prev.swiper-button-disabled .icon,
.lead-banner__controls .button-next.swiper-button-disabled .icon {
  fill: #b7bbbf;
}

@media (min-width: 992px) {
  .hwidget {
    width: 48%;
    float: left;
  }
}
.hwidget__item {
  background-color: #686f75;
  color: #fff;
  transition: 350ms ease-in-out;
  cursor: pointer;
  position: relative;
  padding: 2rem;
}
@media (max-width: 991.98px) {
  .hwidget__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
}
@media (min-width: 992px) {
  .hwidget__item {
    height: 29.6rem;
  }
  .hwidget__item.is-open .ico, .hwidget__item.is-collapse .ico {
    left: 2rem;
    top: 3rem;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  .hwidget__item--vehicle.is-collapse {
    height: 8rem;
  }
  .hwidget__item--vehicle.is-collapse .ico {
    top: 2rem;
  }
  .hwidget__item--vehicle.is-collapse .hwidget__text {
    top: 1rem;
  }
}
.hwidget__item .icon-location {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  width: 16px;
  height: 16px;
  fill: #222;
  margin: 0;
}
.hwidget__item .icon-location:hover {
  fill: #171c8f;
}
.hwidget__item--nol {
  background-color: #171c8f;
}
.hwidget__item--nol .hwidget__control {
  background-color: #171c8f;
}
.hwidget__item--nol:hover:not(.is-open) {
  background: #131879;
}
.hwidget__item--fines {
  background: #00b0b9;
}
.hwidget__item--fines .hwidget__control {
  background: #00b0b9;
}
.hwidget__item--fines:hover:not(.is-open) {
  background: #0098a0;
}
.hwidget__item--journey {
  background: #025ee1;
}
.hwidget__item--journey .hwidget__control {
  background: #025ee1;
}
.hwidget__item--journey:hover:not(.is-open) {
  background: #0253c8;
}
@media (min-width: 992px) {
  .hwidget__item--journey.is-open {
    height: 51.2rem;
  }
}
.hwidget__item--vehicle {
  background: #8031c8;
}
.hwidget__item--vehicle .hwidget__control {
  background: #8031c8;
}
.hwidget__item--vehicle:hover:not(.is-open) {
  background: #732cb4;
}
.hwidget__item .icon {
  fill: #fff;
  transition: 350ms ease-in-out;
}
@media (max-width: 991.98px) {
  .hwidget__item .icon {
    width: 3.8rem;
    height: 3.8rem;
  }
}
@media (min-width: 992px) {
  .hwidget__item .icon {
    width: 4.8rem;
    height: 4.8rem;
    transition-delay: 0.3s;
  }
}
.hwidget__item .ico {
  transition: 350ms ease-in-out;
}
@media (min-width: 992px) {
  .hwidget__item .ico {
    position: absolute;
    top: 9.2rem;
    left: 50%;
    transition-delay: 0.3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.hwidget__item .input-label {
  width: 100%;
}
.hwidget__item .input-label + .input-label {
  margin-top: 1.5rem;
}
.hwidget__item.is-open {
  cursor: default;
}
@media (min-width: 992px) {
  .hwidget__item.is-open .icon, .hwidget__item.is-collapse .icon {
    margin-right: 1.2rem;
    width: 4rem;
    height: 4rem;
    transition-delay: 0s;
  }
}
@media (min-width: 992px) {
  .hwidget__item.is-open .ico, .hwidget__item.is-collapse .ico {
    transition-delay: 0s;
  }
}
@media (max-width: 991.98px) {
  .hwidget__item .btn-n_primary {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
.hwidget__text {
  font-weight: 700;
  padding-left: 1.5rem;
  position: relative;
  transition: 350ms ease-in-out;
}
@media (max-width: 991.98px) {
  .hwidget__text {
    font-size: 1.2857142857em;
    max-width: 85%;
  }
}
@media (min-width: 992px) {
  .hwidget__text {
    font-size: 1.4285714286em;
    padding: 2rem 1rem 1.5rem;
    position: absolute;
    left: 50%;
    top: 13.8rem;
    transition-delay: 0.3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (min-width: 992px) {
  .is-open .hwidget__text, .is-collapse .hwidget__text {
    font-size: 1.2857142857em;
    left: 6.5rem;
    top: 2rem;
    -webkit-transform: translate(0);
    transform: translate(0);
    transition-delay: 0s;
  }
}
.is-open .hwidget__text:after, .is-collapse .hwidget__text:after {
  opacity: 0;
  transition-delay: 0s;
}
@media (min-width: 992px) {
  .is-open .hwidget__text {
    max-width: 70%;
  }
}
@media (min-width: 992px) {
  .hwidget__text:after {
    width: 12rem;
    height: 4px;
    background-color: #fff;
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    transition: 350ms ease-in-out;
    opacity: 1;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition-delay: 0.3s;
  }
}
.hwidget__control {
  transition: 350ms ease-in-out;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .hwidget__control {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 992px) {
  .hwidget__control {
    transition-delay: 0s;
    max-height: 0;
  }
  .is-open .hwidget__control {
    transition-delay: 0.3s;
    max-height: 50rem;
  }
}
.hwidget__close {
  background: transparent;
  -webkit-appearance: none;
  padding: 0;
  border: 0 none;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  opacity: 0;
  transition: 350ms ease-in-out;
}
.is-open .hwidget__close {
  opacity: 1;
}
.hwidget__close .icon-close {
  fill: #fff;
}
@media (min-width: 992px) {
  .hwidget__inner {
    margin-top: 6.5rem;
  }
}
.hwidget__trigger {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  opacity: 0;
  background: rgba(0, 0, 0, 0);
}
.is-open .hwidget__trigger {
  height: 0;
}
span.hwidget__trigger.openHwidget.md-trigger.active-shadow{
  opacity: 1;	
}
.announcement {
  background: #ffeab3;
  border: solid 1px #ffeab3;
  padding: 1.5rem;
  position: relative;
}
@media (max-width: 991.98px) {
  .announcement {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}
.announcement__title {
  font-size: 1.1428571429em;
  font-weight: 700;
}
@media (min-width: 992px) {
  .announcement__title {
    font-size: 1.2857142857em;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
  }
}
.announcement__time {
  font-size: 1em;
  color: #6f6f6f;
  margin-left: 1rem;
}
@media (min-width: 992px) {
  .announcement__time {
    margin-left: 1.5rem;
    margin-top: 1.7rem;
  }
}
.announcement__col1.active .announcement__toggle:after {
  content: "\2013";
  height: 22px;
}
.announcement__toggle {
  width: 32px;
  height: 32px;
  border: solid 1px #222;
  border-radius: 100%;
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
}
@media (max-width: 991.98px) {
  .announcement__toggle {
    width: 24px;
    height: 24px;
    top: 1.2rem;
  }
}
.announcement__toggle:after {
  color: #171c8f;
  content: "+";
  font-weight: 400;
  font-size: 2.2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 18px;
  line-height: 1.1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.announcement__content {
  max-height: 0;
  overflow: hidden;
  transition: 350ms ease-in-out;
}
@media (min-width: 992px) {
  .announcement__content {
    margin-left: 9rem;
  }
}
.announcement__img {
  width: 7.5rem;
}
.announcement__img img {
  max-width: 100%;
}
.announcement__controls {
  float: right;
}
.announcement__controls .btn {
  font-size: 1.2857142857em;
}
@media (min-width: 768px) {
  .announcement__controls .btn {
    margin-left: 1.5rem;
  }
}
@media (max-width: 767.98px) {
  .announcement__controls .btn {
    width: 100%;
    margin-top: 1rem;
  }
}
.announcement__controls .btn.btn-n_primary {
  border: solid 2px #ee0000;
}
/*# sourceMappingURL=home.css.map*/
.widget-form-error{
	border: solid 2px #ee0000 !important;
}