/*start RTA_Office fontface*/
@font-face {
  font-family: 'RTA_Office';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/RTA_Office-Light.ttf); }

@font-face {
  font-family: 'RTA_Office';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/RTA_Office-Regular.ttf); }

@font-face {
  font-family: 'RTA_Office';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/RTA_Office-Bold.ttf); }

@font-face {
  font-family: 'RTA_Office';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/RTA_Office-Black.ttf); }

/*start RTA_Office fontface*/
/*start Dubai fontface*/
@font-face {
  font-family: 'Dubai';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Dubai-Light.ttf); }

@font-face {
  font-family: 'Dubai';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Dubai-Regular.ttf); }

@font-face {
  font-family: 'Dubai';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Dubai-Bold.ttf); }

@font-face {
  font-family: 'Dubai';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Dubai-Black.ttf); }

/*start Dubai fontface*/
