
//start custom css variables//
$body-background: #fff;

//start fonts//
$font-RTA: 'RTA_Office';
$font-Dubai: 'RTA_Office';
$font-fontawesome: "FontAwesome";
//end fonts//

//start font-size//
$xs-font-size: 8px;
$min-font-size: 10px;
$small-font-size: 12px;
$default-font-size: 14px;
$large-font-size: 16px;
$max-font-size: 18px;
$xl-font-size: 20px;
$title-font-size: 25px;
//end font-size//

//start font-weight//
$font-light:300;
$font-regular:400;
$font-bold:700;
$font-black:900;
//end font-weight//

//start font-color//
$title-color: '';
$text-color: '';
//end font-color//

$white: #fff;
$black: #000;
$gray: #eee;
$red: red;

$primary-color: '';
$secondary-color: '';
$tertiary-color: '';
$quaternary-color: '';
$quinary-color: '';
//end custom css variables//
