@import url("style-new.css");


.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: right;
}

.pull-right {
    float: left !important;
}

.pull-left {
    float: right !important;
}

.main-wrapper {
    font-family: 'RTA', Arial !important;
    direction: rtl;
}

h2. h3{
    font-family: 'RTA', Arial !important;
}

.service-sticky{
    left: auto;
    right: -165px;
}

.service-sticky:hover {
    left: auto;
    right: 0;
}

.service-sticky-nav ul li a{
    background-position: 12px center !important;
}

.rta-slider-wrapper .swiper-slide {
    margin-right: 0;
    margin-left: 19px;
}

.slider-content-wrap{
    left: auto;
    right: 0;
}

.slider-paly-btn {
    float: left;
}

.slider-content{
    float: right;
}

.slider-content span{
    left: auto;
    right: 20px;
}

.btn2 {
    float: right;
}

.slider-paly-btn {
    background: url(../img/play-ar.png) no-repeat center center;
}

.slider-paly-btn:hover {
    background: url(../img/play-ar-2.png) no-repeat center center;
}

.discover-form fieldset select{
    background-position: 15px center;
}

.populer-wrapper ul li {
    float: right;
    padding: 15px 0 0 15px;
}

.pop-services {
    padding: 0 0 0 15px;
    float: right;
}

.support-services-ic {
    float: left;
}

.upd-feed-wrapper ul li {
    float: right;
    margin-right: 0;
    margin-left: 5%;
}

.upd-feed-wrapper ul li:nth-child(3) {
    margin-left: 0;
}
.upd-feed-wrapper .btn2 {
    right: 0;
    left: auto;
    float: right;
}

.upd-icon span {
    padding: 0 0 0 15px;
}

.upd-feed-content h3 {
    padding: 25px 0 0px 30px;
    font-size: 33px;
}

.upd-feed-content p {
    padding: 25px 0 0 15px;
}

.mobile-app-wrapper > ul > li {
    float: right;
    padding: 15px 0 0 15px;
}

.mobile-services {
    float: right;
    padding: 0 0 0 15px;
}

.mob-ic {
    float: left;
}

.latest-left-pane {
    float: right;
}

.latest-slider-col {
    float: right;
}

.latest-right-pane {
    float: right;
}

.support-wrapper ul li {
    float: right;
    border-left: 1px solid #ffffff;
    border-right: none;
}

.support-wrapper ul li:nth-child(1) {
    border-right: 1px solid #ffffff;
}

.support-services {
    padding: 0px 60px 0px 0;
    text-align: right;
    float: right;
}

.support-wrapper ul li a{
    background-position: 95% center !important;
}

.footernav ul {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

.footernav ul li {
    text-align: right;
}

.footer-copyright .bottom-text {
    float: right;
    text-align: right;
}

.social-midea{
    float: right !important;
}

.social-midea li {
    float: right;
}

.footer-service {
    width: 530px;
}

.happy-logo-left {
    float: right;
}

.happy-logo-right {
    float: right;
    width: 75%;
    padding: 0 50px 0 0;
}
.happy-logo-right img {
    float: right;
}

.happy-meter {
    float: right;
}

.happy-meter ul li {
    padding: 0 0 0 25px;
}

.footer-service ul li {
    border-left: 1px solid #e5e6ea;
    border-right: none;
}

.footer-service ul li:last-child {
    border-left: none;
}

.footer-service ul li span:nth-child(1) {
    float: right;
}

.footer-service ul li span:nth-child(2) {
    float: left;
    padding: 0 0 0 20px;
}

.footer-service ul li:nth-child(4) a {
    background-position: 10px center;
}

.footer-service ul li:nth-child(4) a:hover {
    background-position: 10px center;
}

.footer-service ul li:nth-child(3) a {
    background-position: 15px center;
}

.footer-service ul li:nth-child(3) a:hover {
    background-position: 10px center;
}

#main_nav_part ul.main_nav_bar {
    float: right;
}

#main_nav_part ul.main_nav_bar > li {
    float: right;
}

.search-box input {
    text-align: right;
}

#main_nav_part ul.main_nav_bar > li > .second-menu ul {
    float: right;
}

#main_nav_part ul.main_nav_bar > li > .second-menu ul > li > a{
    text-align: right;
    background: url(../img/link-ar.png) no-repeat left 9px;
    text-align: right;
    float: right;
}
#main_nav_part ul.main_nav_bar > li > .second-menu ul > li:hover > a {
    background: url(../img/link_over-ar.png) no-repeat left 9px;
    background-position: left 9px !important;
}

.overlay-sticky fieldset select{
    background-position: 15px center;
}

.close-sticky{
    right: auto;
    left: 10px;
}

.medium .service-sticky {
    width: 265px;
    right: -215px;
    left:auto;
}

.medium .service-sticky:hover {
    right: 0;
    left:auto;
}

.large .service-sticky {
    width: 315px;
    right: -265px;
    left:auto;
}

.large .service-sticky:hover {
    right: 0;
    left:auto;
}

.footer-service ul li ul li a {
    padding: 25px;
}

.online-chat .custom-select-dropdown:after{
    right: auto;
    left: 15px;
}

.overlay-questions .chat-start li{
    padding: 5px 50px 0 50px;
}

.overlay-questions .chat-start li em{
    left: auto;
    right: 0;
}

.overlay-questions  .status p{
    float: right;
}

.overlay-questions .status p span {
    padding: 0 2px 0 0;
    float: left;
}

.overlay-questions .status p span img {
    margin: 0 0 0 10px;
}

.overlay-questions .start-typing input[type="submit"]{
    float: left;
}

.online-chat label {
    float: right;
}

.overlay-questions h3{
    font-size: 44px;
}

#search_part ul {
    float: right;
    margin: 0 60px 0 0;
}

.search-box{
    padding: 10px 60px 0 0;
    background-position: right 10px !important;
}

.overlay-questions  .status .email-chat, .overlay-questions  .status .print-chat{
    float: right;
    margin-left:15px;
    margin-right: 0;
}

.footer-service-happy ul li a{
    padding: 28px;
}

#set-1 ul li:nth-child(1) a {
    background-position: 130px center !important;
}

#set-1 ul li:nth-child(1) a:hover{
    background-position: 130px center !important;
}

#set-2 ul li:nth-child(1) a {
    background-position: 130px center !important;
}

#set-2 ul li:nth-child(1) a:hover{
    background-position: 130px center !important;
}

#set-2 ul li:nth-child(2) a{
    background-position: 126px center;
}

.breadcrumb-rta li{
    float: right;
    padding: 0 0 0 13px;
    margin: 0 0 0 6px;
}
.breadcrumb-rta li:after {
    right: auto;
    left: 2px;
}
.drive-n-car-service .img-title{
    left: auto;
    right: 0;
}
.icon-label{
    left: auto;
    right: 312px;
}
.drive-n-car-service .car-service-content ul li{
    padding: 5px 27px 0 10px;
    background:#ee0000 url("../img/arrow-white-ar.png")  no-repeat 97% 7px;
}
.drive-n-car-service .car-service-content ul {
    float: right;
}
.drive-n-car-service .car-service-text {
    float: left;
}

.smart-app .swiper-wrapper .swiper-slide img {
    float: left;
}
.smart-app .swiper-wrapper .swiper-slide .slide-text {
    float: right;
}

.left-menu ul li h4{
    padding: 0 25px 0 0;
}
.left-menu ul.accordion li a {
    padding: 0 25px 0 0;
}
.left-menu ul li h4 em {
    float: left;
}
.left-menu ul li h4:before{
    left: auto;
    right: 5px;
}
.left-menu ul li h4:after{
    left: auto;
    right: 0;
}

.our-services .most-popular fieldset input[type=search]{
    background-position: left center;
    padding: 5px 22px 5px 0;
    border-left: none;
    border-right: 1px solid #626468;
}
.our-services .icon-label {
    right: auto;
    left: 0;
}

.categories-list .col-grid25 {
    float: right;
    margin: 0 0 20px 20px;
}
.categories-list .col-grid25:nth-of-type(3n+3) {
    margin-left: 0;
}

.our-services .drive-n-car-service ul li{
    float: right;
    padding: 0 30px 0 0;
    margin: 0 0 30px 1%;
    background: url(../img/arrow-red-large-ar.png) no-repeat right 2px;
}

.our-services .car-services{
    padding: 0  2% 0 0;
}

.our-services .car-services li a:after{
    left: auto;
    right: -20%;
}

.our-services .car-services li.second-last-icon {
    border-right: none;
    border-left: 1px solid #fff;

}

.car-services li {
    float: right;
    margin: 0 0 0 4%;
}

.car-services li span {
    margin: 12px 10px 0 0;
}

.car-services li em {
    float: right;
}

.categories-list .col-grid25 .category-item h4{
    margin-top: 10px;
}

.left-menu ul li:nth-of-type(2) h4 em{
    margin-top: -24px;
}

.footer-copyright .col-lg-4 , .footer-copyright .col-lg-8 {
    float: left;
}

.blue-dark-box{
    margin-right: 0;
    margin-left: 70px;
}

.section-defaults .blue-dark-box ul li{
    padding: 0 18px 0 0;
}

.section-defaults .blue-dark-box ul li:before, .section-defaults ul.bullets li:before{
    left: auto;
    right: 0;
    margin: 6px 0 6px 15px;
}

.section-defaults ul.bullets li {
    padding-left: 0;
    padding-right: 25px;
}
.g-accordion .head:before{
    right: auto;
    left: 10px;
}
.g-accordion .head:after{
    right: auto;
    left: 0;
}

.g-accordion .head{
    padding: 20px 0 20px 25px;
}

.feedback-liking-box h4 {
    float: right;
}

.star-rating-box{
    float: left;
}

.average-time-box ul li a.phone, .average-time-box ul li a.location{
    background-position: 10px center;
}

.ways-apply-box li img {
    margin-right: 0;
    margin-left: 20px;
}

.list-arrow li a{
    padding-left: 0;
    padding-right: 20px;
    background: url("../img/arrow-white-ar.png") no-repeat right 4px;
}

.control{
    padding-left: 0;
    padding-right: 40px;
}

.control__indicator{
    left: auto;
    right: 0;
}

.scl-share-box .share{
    float: right;
    border-right: none;
    border-left: 1px solid #fff;
}

.scl-share-box .list-inline{
    float: right;
}
.scl-share-box .list-inline li{
    float: right;
}

.services-detail-head ul li a{
    float: right;
}

.services-detail-head ul li{
    float: right;
    margin: 0 0 0 4%;
}

.large .services-detail-head .sticky-detail.car-sticky ul li {
    margin: 0 0 0 3%;
}

.medium .services-detail-head ul li {
    margin: 0 0 0 3%;
}

.rate-us fieldset input{
    float: right;
    margin: 0 0 20px 20px;
}

.rate-us fieldset input:nth-of-type(3) {
    margin-left: 0;
}

.rate-us fieldset img {
    float: right;
    margin: 0 0 20px 20px;
}

.rate-us .thank-msg em {

    margin: 0 0 0 15px;
}

.overlay-questions {
    width: 530px;
}

/*faqs-search*/
.faqs-search fieldset input{
    padding: 20px 45px 20px 50px;
}
.faqs-search fieldset:before{
    left: auto;
    right: 20px;
}
.faqs-search fieldset:after{
    right: auto;
    left: 15px;
}
.faqs-search .question-search h4{
    padding: 0 0 0 25px;
}
.faqs-search h4:before{
    right: auto;
    left: 7px;
}
.faqs-search h4:after{
    right: auto;
    left: 0;
}
.faqs-search .question-search{
    height: 239px;
}
.faqs-search fieldset input[type="button"] {
    right: auto;
    left: 0;
}



@media screen and (max-width: 1024px) {
    .our-services .car-services li a:after{
        left: auto;
        right: -14%;
    }
}

@media screen and (max-width: 1266px) and (min-width: 768px){
    .smart-app .swiper-button-prev, .smart-app .swiper-container-rtl .swiper-button-next {
        right: auto;
        left: -2px;
    }

    .smart-app .swiper-button-next, .smart-app .swiper-container-rtl .swiper-button-prev {
        right: auto;
        left: 40px;
    }
}

@media screen and  (max-width: 1199px){
    .mobile-app-wrapper ul li:nth-child(5), .mobile-app-wrapper ul li:nth-child(10) {
        padding: 15px 0 0 15px;
    }
    .populer-wrapper ul li:nth-child(4), .populer-wrapper ul li:nth-child(8) {
        padding: 15px 0 0 15px;
    }

    .car-services li {
        margin: 0 0 0 3.2%;
    }

    .services-detail-head ul li {
        margin: 0 0 0 3%;
    }

    .large .services-detail-head .sticky-detail.car-sticky ul li {
        margin: 0 2% 0 0;
    }
}

@media screen and  (max-width: 990px){
    .mobile-app-wrapper ul li:nth-child(3), .mobile-app-wrapper ul li:nth-child(6), .mobile-app-wrapper ul li:nth-child(9) {
        padding: 15px 0 0 15px;
    }
    .car-services li {
        margin: 0 0 0 0.3%;
    }

    .categories-list .col-grid25:nth-of-type(2n+2) {
        margin-left: 0;
    }
    .categories-list .col-grid25:nth-of-type(2n+3) {
        margin-right: 0;
        margin-left: 20px;
    }

    .services-detail-head ul li {
        margin: 0 0 0 1%;
    }

    .medium .services-detail-head ul li {
        margin: 0 0.6% 0 0;
    }

    .large .services-detail-head .sticky-detail.car-sticky ul li {
        width: 10%;
    }

    .large .absolute-container{
        width: 124%;
    }

}

@media (device-width: 768px) and (orientation: portrait) {
    .car-services li span {
        margin: 7px 12px 0 0;
        width: 50%;
    }
    .our-services .car-services li a:after {
        right: -1%;
    }

    .absolute-container {
        left: 0;
    }
}

@media screen and (max-width: 768px){
    .service-sticky {
        right: 0;
    }
    .site-control {
        width: 159px;
    }

    .mobile-app-wrapper ul li {
        padding: 15px 0 0 15px !important;
    }
    .mobile-app-wrapper ul li:nth-of-type(2n+2) {
        padding-left: 0 !important;
    }

    .support-wrapper ul li:nth-child(3), .support-wrapper ul li:nth-child(5) {
        border-right: 1px solid #ffffff;
    }

    .footer-service ul li {
        float: right;
    }

    .footer-service ul li a {
        padding: 21px 15px;
    }

    .footer-service ul li span:nth-child(1) {
        right: -7px;
    }

    .footer-service ul li:nth-child(3) a {
        background-position: 7px center;
    }

    .footer-service ul li:nth-child(4) a {
        background-position: 3px center;
    }

    .footer-service ul li span:nth-child(1), .footer-service ul li span:nth-child(2) {
        top: -5px;
    }

    .mobile-services {
        width: 80px;
        font-size: 11px;
    }

    .happy-logo-right {
        width: 63%;
    }

    .happy-meter ul li {
        padding: 10px 0px 0 0;
        width: 30%;
    }

    .close-sticky {
        right: auto;
        left: 5px;
    }

    .footer-service {
        width: auto;
    }

    .search-box {
        padding: 3px 40px 0 0;
    }

    .populer-wrapper ul li:nth-child(3), .populer-wrapper ul li:nth-child(6) {
        padding: 15px 0 0 15px;
    }

    .populer-wrapper ul li:nth-of-type(2n+2) {
        padding: 15px 0 0 0;
    }

    .footer-service-happy {
        left: 0;
    }

    .footer-service-happy{
        margin-right: 0;
    }

    .services-detail-head ul li.init:after{
        right: auto;
        left: 14px;
    }


}

@media screen and (max-width: 767px){
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        width: 100%;
    }

    .footer-service-happy ul li a{
        padding: 21px;
    }

    .drive-n-car-service .car-service-content ul li{
        background-position: 98% 7px;
    }

    .icon-label {
        right: 0 !important;
    }

    .our-services .car-services li em {
        float: left;
        margin: 0 0 0 15px;
    }

    .our-services .car-services li a:after {
        left: auto;
        right: -9%;
    }

    .our-services .drive-n-car-service .icon-label {
        left: 0 !important;
        right: auto !important;
    }

    .categories-list .col-grid25:nth-of-type(2n+2) {

        margin-left: 0;
    }

    .categories-list .col-grid25:nth-of-type(2n+3) {
        margin-right: 0;
        margin-left: 20px;

    }

    .services-detail-head ul li{
        float: right;
    }
    .blue-dark-box {
        margin-left: 0;
    }

    .rate-us fieldset input.security-code {
        clear: right;
    }

    .rate-us fieldset .btn-custom {
        clear: right;
        float: right;
    }

    .footer-service ul li:nth-of-type(2) a {
        padding: 21px 17px 21px 0px;
    }

    .footer-service ul li:nth-child(3) a {
        padding: 21px 17px 21px 8px;
    }

    .footer-service ul li:nth-of-type(2) {
        width: 13%;
    }

    .footer-service ul li span:nth-child(1), .footer-service ul li span:nth-child(2) {
        font-size: 7.5px;
    }

    .overlay-questions {
        width: 100%;
        bottom: 3px;
    }


}

@media screen and (max-width: 420px){
    #set-2 ul li:nth-child(1) a {
        background-position: 90px center !important;
    }

    #set-2 ul li:nth-child(2) a {
        background-position: 89px center;
    }
}

@media screen and (max-width: 320px){
    .mobile-services {
        width: 60px;
        font-size: 9px;
    }

    .footer-service ul li span:nth-child(2) {
        padding: 0 0 0 17px;
    }

    .footer-service ul li:nth-child(3) a {
        padding: 21px 10px 21px 8px;
    }
}


.overlay-questionsold {
    width: 525px;
    margin: 0 auto;
    background: #ffffff;
    padding: 40px 30px;
    position: fixed;
    bottom: 30px;
    right: 13% ! important;
    left: auto ! important;
    z-index: 1000;
    display: none;
}